#menu {
    display: flex;
    height: 300px;
    width: 300px;
}
  
.menu-items {
    flex: 50%;
}

#form-container{
    visibility: visible;
    background-color: bisque;
    height: 500px;
    width: 500px;
}

#receipt{
    display: none;
    background-color: bisque;
    height: 500px;
    width: 500px;
}

label {
    display: inline-block;
    width: 75px;
    padding: 10px;
}